body {
  background-color: bisque;
}

#titleOfPage {
  font-size: 250% ;
}

h2 {
  font-size: 200%;
  text-align: left;
}

title {
  color: red;
  text-align: center;
}

table th, td {
  border-style: solid;
  text-align: center;
  border-collapse: collapse;
  padding: 15px;
  border-color: red;
}

img {
  float: right;
}

p {
  font-size: 150%;
}

h2 {
  font-size: 300%;
  text-align: center;
}

#navBar a.active {
  background-color: gray;
   color: red;
}

#osterby {
  float: left
}