h1 {
  font-family: Lucida Console, "Courier New", "monospace", bold;
}

h4 {
  font-family: Lucida Console, "Courier New", "monospace";
}

p {
  font-family: Georgia, "Serif", monospace;
}

form {
  font-family: "Lucida Console", "Courier New", monospace, bold;
}
