body {
  background-color: bisque;
}

#titleOfPage {
  font-size: 250% ;
}

h2 {
  font-size: 200%;
  text-align: left;
}

title {
  color: red;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  width: 100%;
  font-size: 110%;
}

li {
  float: left;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #bbb;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
}

li:last-child {
  border-right: 1px solid #bbb;
}

table th, td {
  border-style: solid;
  text-align: center;
  border-collapse: collapse;
  padding: 15px;
  border-color: red;
}

img {
  float: right;
}
